@font-face {
    font-family: 'font';
    src: url('/public/before-modern-demo/Before Modern Demo.otf') format('opentype');
}

@font-face {
    font-family: 'font-new';
    src: url('/public/Valorant\ Font.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-image: url(/public/blurry-gradient-haikei\ \(5\).png);
    overflow-x: hidden;
    font-family: 'font';

}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.nav .open-btn {
    position: fixed;
    top: 7px;
    right: 55px;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #fff;
}

.sidebar {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #110f29f3;
    /* Transparent background */
    box-shadow: -2px 0 51px rgba(118, 66, 164, 0.5);
    z-index: 1000;
    padding-top: 60px;
    opacity: 0;
    /* Start with hidden */
    transform: scale(0.8);
    /* Start with smaller scale */
    transition: right 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    line-height: 30px
}

.sidebar ul li a:hover {
    color: rgb(45, 35, 108);
    font-weight: bold;
}

.sidebar .close-btn {
    position: absolute;
    top: 7px;
    right: 55px;
    font-size: 24px;
    cursor: pointer;
    color: #fff
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

#cursor {
    background-color: #ffffff66;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
}

.main1 {
    height: 100%;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: aliceblue;
    font-family: 'font';
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav img {
    height: 30px;
    width:auto;
}

.nav button div {
    width: 35px;
    height: 3px;
    margin: 6px 0;
    background-color: #fff;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110%;
    position: relative;
    overflow: hidden;
    background-image: url(/public/HD-wallpaper-video-game-valorant-logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ing {
    width: 70vh;
    height: 100vh;
    margin-left: 0px;
    z-index: 2;
    animation: png 3s infinite ease-in-out;
    /* Adding ease-in-out for smoother animation */
}

@keyframes png {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.centered-div h1 {
    letter-spacing: 8px;
    font-size: 9vw;
    /* background: -webkit-linear-gradient(#fd4556, rgb(28, 21, 71));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.write {
    display: block;
    font-family: 'font';
    z-index: 0;
    position: absolute;
    color: aliceblue;
    margin-top: -150px;
    font-size: 4rem;
}

.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    font-family: 'font';
    margin-left: 0px;
    font-size: 1.2rem;
    /* background-color: aliceblue; */
    z-index: 22;
}

.left {
    margin-left: 80px;
    padding: 10px;
    font-family: 'font-new';
}

.left h3,
h6 {
    font-size: 2rem;
}

.left span {
    color: #fd4556;
}

.right span {
    color: #fd4556;
}

.right {
    margin-right: 80px;
    font-family: 'font-new';
    margin-top: -100px;
}

.right h3,
h6 {
    font-size: 2rem;
    /* margin-right: -20px; */
}

.icon .line {
    text-align: center;
    width: 1px;
    height: 20px;
    /* Adjust height as needed */
    background-color: aliceblue;
}

.main {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

.play {
    font-family: 'font';
    /* background-color: rgb(32, 25, 75); */
    color: aliceblue;
    border: none;
    margin-top: 50px;
    padding: 0.7rem 30px;
    font-size: 0.9em;
    /* transition: 0.4s; */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 22px rgb(42, 19, 70);
    word-spacing: 8px;
    background: linear-gradient(to right, #fd4556 50%, rgb(28, 21, 71) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease;
}

.play:hover {
    /* font-family: 'font';
    background-color: rgb(45, 35, 108);
    color: aliceblue;
    border: none;
    margin-top: 20px;
    padding: 10px 30px;
    transition: 0.4s; */
    background-position: left bottom;
}

.play1 {
    border-radius: 50%;
    padding: 10px;
    margin-top: 40px;
    border: none;
}


#intro {
    margin-top: 3rem;

}

.title {
    text-align: center;
    line-height: 0;
    font-size: 4vw;
    color: white;
    /* position: absolute; */
    padding-bottom: 4rem;
    letter-spacing: 4px;

}

#intro .title span {
    font-size: 9vw;
    font-family: 'font-new';
    opacity: 0.1;
    word-spacing: 40px;
    letter-spacing: 0;
    animation: fade-in-right;
}

#intro .title .dot {
    color: red;
    font-size: 6vw;
    padding-bottom: 4rem;
    opacity: 1;
    word-spacing: 0;
}

#intro .intro-vid video {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
    outline: 8px solid #fd4556;
    padding: 1rem;
}

#intro .intro-p {
    padding-top: 30px;
    text-align: center;
    line-height: 3.5rem;
    font-family: 'font-new';
    font-size: 1.7em;
    color: white;

}


#intro .intro-p span {
    color: #fd4556;
}

#intro .intro-btn {
    display: block;
    margin: auto;
    /* align-items: center; */
    font-family: 'font-new';
    background: linear-gradient(to right, rgb(28, 21, 71) 50%, #fd4556 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease;
    color: aliceblue;
    border: none;
    margin-top: 2rem;
    padding: 10px 30px;
    font-size: 1.5rem;
    transition: 0.4s;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 22px rgb(42, 19, 70);
}

#intro .intro-btn:hover {
    background-position: left bottom;
}

#agents {
    margin-top: 6rem;
}

#agents span {
    font-size: 12vw;
    opacity: 0.1;
    letter-spacing: 30px;
    animation: fade-in-right;
    font-family: 'font-new';
}

.agents {
    position: relative;
    height: 80vh;
    width: 80vw;
    display: block;
    margin: auto;
    color: white;
    font-family: 'font-new';
}

.agents .agent1,
.agent2,
.agent3,
.agent4,
.agent5,
.agent6,
.agent7,
.agent8,
.agent9 {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 5rem 0;
    outline: 8px solid #fd4556;
    outline-offset: 1rem;
}

.agent1 {
    background-image: url('/public/wallpaperflare.com_wallpaper (1).jpg');
}

.agent2 {
    background-image: url('/public/wallpaperflare.com_wallpaper.jpg');
}

.agent3 {
    background-image: url('/public/wallpaperflare.com_wallpaper (2).jpg');
}

.agent4 {
    background-image: url('/public/wallpaperflare.com_wallpaper (3).jpg');
}

.agent5 {
    background-image: url('/public/wallpaperflare.com_wallpaper (4).jpg');
}

.agent6 {
    background-image: url('/public/wallpaperflare.com_wallpaper (5).jpg');
}

.agent7 {
    background-image: url('/public/wallpaperflare.com_wallpaper (6).jpg');
}

.agent8 {
    background-image: url('/public/wallpaperflare.com_wallpaper (8).jpg');
}

.agent9 {
    background-image: url('/public/wallpaperflare.com_wallpaper (9).jpg');
}

.ag-title1,
.ag-title2 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 5rem;
    letter-spacing: 2px;
}

.ag-title2 {
    top: 0;
}

.agent-valo {
    position: absolute;
    writing-mode: vertical-lr;
    right: 0;
    font-size: 5.5rem;
    color: #fd4556;
    opacity: 0.2;
}

.agent1-p,
.agent1-p1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 40%;
    font-size: 20px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
}

.agent1-p {
    border-right: 1px solid rgba(255, 255, 255, 0.285);
    border-bottom: 1px solid rgba(255, 255, 255, 0.251);
    border-radius: 10px;
}

.agent1-p1 {
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    border-right: 1px solid rgba(255, 255, 255, 0.333);
    border-top: 1px solid rgba(255, 255, 255, 0.299);
}

.agent-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 300px;
    height: auto;
    margin: 10px;
    border: 5px solid #00000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
        0 6px 20px rgba(0, 0, 0, 0.2);
    transform: perspective(1100px) rotateY(25deg) rotateX(20deg);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(106, 106, 106, 0.959);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.3s;
    margin-top: -10px;
}

.agent-icon:hover {
    transform: perspective(1000px) rotateY(0deg) rotateX(0deg) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4),
        0 12px 40px rgba(0, 0, 0, 0.3);
    width: 310px;
    transition: 0.3s;
    height: auto;
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
}